body {
  margin: 0;
  padding: 0;
  background-color: #011627;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}
h1, h3 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.2;
  text-transform: uppercase;
  font-weight: 300;
}
p {
  font-size: 0.8em;
}
a {
  color: #ff6666;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
#solar-system {
  max-width: 1000px;
  padding-top: 100px;
}
#info-panel {
  z-index: 10;
  position: absolute;
  background-color: #062035;
  box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.2);
  top: 0;
  width: 25em;
  box-sizing: border-box;
  padding: 1em;
}
.planet {
  border-radius: 100000px;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  z-index: 4;
  left: 0;
  right: 0;
  text-align: center;
  box-sizing: border-box;
  background-size: cover;
}
.selected {
  border: 3px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.4);
}
.selected::before {
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.4);
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100000px;
  z-index: -1;
  left: 0%;
}
.animate {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#sun {
  background-color: #E9C46A;
  box-shadow: 0px 0px 5px 5px rgba(255, 100, 50, 0.4);
}
#mercury {
  background-color: #E76F51;
  box-shadow: inset 0px -1px 1px rgba(1, 22, 39, 0.7);
}
#venus {
  background-color: #F4A261;
  box-shadow: inset 0px -3px 2px rgba(1, 22, 39, 0.7);
}
#earth {
  background-color: #2A9D8F;
  box-shadow: inset 0px -3px 2px rgba(1, 22, 39, 0.7);
}
#mars {
  background-color: #E76F51;
  box-shadow: inset 0px -2px 2px rgba(1, 22, 39, 0.7);
}
#jupiter {
  background-color: #F4A261;
  box-shadow: inset 0px -20px 20px rgba(1, 22, 39, 0.7);
}
#saturn {
  background-color: #E9C46A;
  box-shadow: inset 0px -15px 20px rgba(1, 22, 39, 0.7);
}
#uranus {
  background-color: #2A9D8F;
  box-shadow: inset 0px -15px 10px rgba(1, 22, 39, 0.7);
}
#neptune {
  background-color: #17BEBB;
  box-shadow: inset 0px -15px 10px rgba(1, 22, 39, 0.7);
}
#pluto {
  background-color: #BBACC1;
  box-shadow: inset 0px -1px 1px rgba(1, 22, 39, 0.7);
}
.orbit {
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: auto;
  border-radius: 100000px;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 98px;
  left: calc(50% + 0px);
  transform: translateX(-50%);
  box-sizing: border-box;
}
#info-panel .container {
  float: left;
}
